# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore OS and IDE files.
.DS_Store
/.idea

# Ignore all data files.
/data/uploads/*
!/data/uploads/.keep
/data/work/*
!/data/work/.keep
/data/captures/*
!/data/captures/.keep
/data/lifter/*
!/data/lifter/.keep
