<div id="welcome" class="page-container">
  <ol class="breadcrumb">
    <li><a href="/">SniffHub</a></li>
  </ol>

  <div class="page-header">
    <h1>
      Welcome to SniffHub
    </h1>
  </div>

  <% if current_user? %>
    <%= render(partial: 'welcome/home') %>
  <% else %>
    <%= render(partial: 'welcome/welcome') %>
  <% end %>
</div>
