<h2>
  Welcome to SniffHub
</h2>

<div class="upload-target">
  <p>
    Drag sniff files here to upload to SniffHub.
  </p>

  <div class="upload-queue hidden">
    <template>
      <div class="upload">
        <form action="<%= LIFTER_URL %>" method="POST" enctype="multipart/form-data" data-upload-param="upload">
          <div class="metadata">
            <input type="hidden" name="uploader_token" value="<%= current_user.uploader_token %>" />
          </div>

          <table class="table">
            <tr>
              <td class="file-name">
                Loading...
              </td>

              <td class="file-size">
                0
              </td>

              <td class="upload-progress">
                0%
              </td>
            </tr>
          </table>
        </form>
      </div>
    </template>
  </div>
</div>
