#page-captures-index table .file-name {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 30%;
}

#page-show-capture .capture-tools form {
  display: inline-block;
  margin-right: 10px;
}

#page-show-capture .capture-tools form button {
  min-width: 180px;
}
