#page-welcome .home-uploader .upload-target {
  padding-top: 60px;
  padding-bottom: 60px;
}

#page-welcome .home-uploader .upload-target .instructions {
  text-align: center;
}

#page-welcome .recent-uploads .uploaded-at {
  width: 25%;
}

#page-welcome .recent-uploads .file-name {
  width: 55%;
}

#page-welcome .recent-uploads .captures-count {
  width: 20%;
}
