form .form-group .field-error {
  font-size: 12px;
  color: #aa4444;
  font-weight: bold;
  margin-top: 3px;
}

form .form-actions {
  text-align: right;
}

form .form-actions button {
  min-width: 100px;
}
