// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.upload-target {
  padding: 30px;
  font-size: 14px;
  font-family: Arial;
  background: #f4f4f4;
  border: 2px solid #f4f4f4;
}

.upload-target p {
  background: #fff;
  padding: 10px;
  margin: 0;
}

.upload-target.dragover {
  border-color: #aaa;
}

.upload-queue {
  margin-top: 30px;
}

.upload-queue.hidden {
  display: none;
}

.upload-queue .table {
  margin: 0;
}

.upload-queue .file-name {
  width: 70%;
}

.upload-queue .file-size {
  width: 15%;
}

.upload-queue .upload-progress {
  width: 15%;
}
